.icon-button {
    // display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: top;
}

.icon {
    display: inline-block;
    cursor: pointer;
    font-size: 0;
    width: 16px;
    height: 16px;
    background-size: cover;
    background-repeat: no-repeat;
}

// .icon-animate {
//     &:hover {
//         width: 20px;
//         height: 20px;
//     }
// }

.move-enter-active, .move-leave-active {
	transition: all .5s;
}
.move-enter, .move-leave-active {
	opacity: 0;
	transform: translate3d(100%, 0, 0);
}

.yyc-h4-font {
    color: #fff;
}